canada-music-factory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "canada-music-factory"
		},
		"DataLake Storage link Parameterized_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'DataLake Storage link Parameterized'"
		},
		"Kakudi DB Sql Source_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Kakudi DB Sql Source'"
		},
		"DataLake Storage link Parameterized_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://canada7.dfs.core.windows.net/"
		},
		"Kakudi DB Sql Source_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "canada-music-server.database.windows.net"
		},
		"Kakudi DB Sql Source_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "kakudi_db"
		},
		"Kakudi DB Sql Source_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "jhatia"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DataLake Storage link Parameterized')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DataLake Storage link Parameterized_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DataLake Storage link Parameterized_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Kakudi DB Sql Source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Kakudi DB Sql Source_properties_typeProperties_server')]",
					"database": "[parameters('Kakudi DB Sql Source_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Kakudi DB Sql Source_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Kakudi DB Sql Source_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/JSON_ADLS_Source_DataSet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake Storage link Parameterized",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"folders": {
						"type": "string"
					},
					"file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folders",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake Storage link Parameterized')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet_Dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake Storage link Parameterized",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"folder": {
						"type": "string"
					},
					"file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake Storage link Parameterized')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Source_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Kakudi DB Sql Source",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Kakudi DB Sql Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Incremental Loading')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SQL to ADLS Copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Last Date LookUp",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Current Time Stamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select * from @{pipeline().parameters.schema}.@{pipeline().parameters.table} where @{pipeline().parameters.cdc_col} > '@{if(empty(pipeline().parameters.back_date), activity('Last Date LookUp').output.value[0].cdc, pipeline().parameters.back_date)}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_Source_Dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet_Dynamic",
								"type": "DatasetReference",
								"parameters": {
									"container": "raw",
									"folder": {
										"value": "@concat(pipeline().parameters.table,'_cdc', '/', 'Files')",
										"type": "Expression"
									},
									"file": {
										"value": "@concat(pipeline().parameters.table, '_', variables('current_date'))",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Last Date LookUp",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "JSON_ADLS_Source_DataSet",
								"type": "DatasetReference",
								"parameters": {
									"container": "raw",
									"folders": "DimUser_cdc/Date_Inputs",
									"file": "Last_Date.json"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Current Time Stamp",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "current_date",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Check Empty Files",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SQL to ADLS Copy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('SQL to ADLS Copy').output.dataRead, 0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Delete Empty File",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "Parquet_Dynamic",
											"type": "DatasetReference",
											"parameters": {
												"container": "raw",
												"folder": {
													"value": "@concat(pipeline().parameters.table,'_cdc', '/','Files')",
													"type": "Expression"
												},
												"file": {
													"value": "@concat(pipeline().parameters.table, '_', variables('current_date'))",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Update Last CDC",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Max CDC Query",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "cdc",
													"value": {
														"value": "@activity('Max CDC Query').output.resultSets[0].rows[0].max_date",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "JSON_ADLS_Source_DataSet",
											"type": "DatasetReference",
											"parameters": {
												"container": "raw",
												"folders": "DimUser_cdc/Date_Inputs",
												"file": "Empty.json"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "JSON_ADLS_Source_DataSet",
											"type": "DatasetReference",
											"parameters": {
												"container": "raw",
												"folders": "DimUser_cdc/Date_Inputs",
												"file": "Last_Date.json"
											}
										}
									]
								},
								{
									"name": "Max CDC Query",
									"type": "Script",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "Kakudi DB Sql Source",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "SELECT MAX(@{pipeline().parameters.cdc_col}) as max_date FROM @{pipeline().parameters.schema}.@{pipeline().parameters.table}",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					},
					"cdc_col": {
						"type": "string"
					},
					"back_date": {
						"type": "string"
					}
				},
				"variables": {
					"current_date": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_Source_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/Parquet_Dynamic')]",
				"[concat(variables('factoryId'), '/datasets/JSON_ADLS_Source_DataSet')]",
				"[concat(variables('factoryId'), '/linkedServices/Kakudi DB Sql Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Incremental Loop')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Incremental JSON loop",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.loop_input",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "SQL to ADLS Copy",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Current Time Stamp",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Last Date LookUp",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select * from @{item().schema}.@{item().table} where @{item().cdc_col} > '@{if(empty(item().back_date), activity('Last Date LookUp').output.value[0].cdc, item().back_date)}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SQL_Source_Dataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Parquet_Dynamic",
											"type": "DatasetReference",
											"parameters": {
												"container": "raw",
												"folder": {
													"value": "@concat(item().table,'_cdc/Files')",
													"type": "Expression"
												},
												"file": {
													"value": "@concat(item().table, '_', variables('current_date'))",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Last Date LookUp",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"dataset": {
											"referenceName": "JSON_ADLS_Source_DataSet",
											"type": "DatasetReference",
											"parameters": {
												"container": "raw",
												"folders": {
													"value": "@concat(item().table,'_cdc/Date_Inputs')",
													"type": "Expression"
												},
												"file": "Last_Date.json"
											}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "Current Time Stamp",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "current_date",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Check Empty Files",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "SQL to ADLS Copy",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('SQL to ADLS Copy').output.dataRead, 0)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Delete Empty File",
												"type": "Delete",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "Parquet_Dynamic",
														"type": "DatasetReference",
														"parameters": {
															"container": "raw",
															"folder": {
																"value": "@concat(item().table,'_cdc', '/','Files')",
																"type": "Expression"
															},
															"file": {
																"value": "@concat(item().table, '_', variables('current_date'))",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Update Last CDC",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Max CDC Query",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "JsonSource",
														"additionalColumns": [
															{
																"name": "cdc",
																"value": {
																	"value": "@activity('Max CDC Query').output.resultSets[0].rows[0].max_date",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "JsonReadSettings"
														}
													},
													"sink": {
														"type": "JsonSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "JsonWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "JSON_ADLS_Source_DataSet",
														"type": "DatasetReference",
														"parameters": {
															"container": "raw",
															"folders": {
																"value": "@concat(item().table,'_cdc/Date_Inputs')",
																"type": "Expression"
															},
															"file": "Empty.json"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "JSON_ADLS_Source_DataSet",
														"type": "DatasetReference",
														"parameters": {
															"container": "raw",
															"folders": {
																"value": "@concat(item().table,'_cdc/Date_Inputs')\n\n",
																"type": "Expression"
															},
															"file": "Last_Date.json"
														}
													}
												]
											},
											{
												"name": "Max CDC Query",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "Kakudi DB Sql Source",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "SELECT MAX(@{item().cdc_col}) as max_date FROM @{item().schema}.@{item().table}",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"loop_input": {
						"type": "array",
						"defaultValue": [
							{
								"schema": "dbo",
								"table": "DimUser",
								"cdc_col": "updated_at",
								"back_date": ""
							},
							{
								"schema": "dbo",
								"table": "DimTrack",
								"cdc_col": "updated_at",
								"back_date": ""
							},
							{
								"schema": "dbo",
								"table": "DimDate",
								"cdc_col": "date",
								"back_date": ""
							},
							{
								"schema": "dbo",
								"table": "DimArtist",
								"cdc_col": "updated_at",
								"back_date": ""
							},
							{
								"schema": "dbo",
								"table": "FactStream",
								"cdc_col": "stream_timestamp",
								"back_date": ""
							}
						]
					}
				},
				"variables": {
					"current_date": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_Source_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/Parquet_Dynamic')]",
				"[concat(variables('factoryId'), '/datasets/JSON_ADLS_Source_DataSet')]",
				"[concat(variables('factoryId'), '/linkedServices/Kakudi DB Sql Source')]"
			]
		}
	]
}